:root {
	--background-dark: #0f172a;
	--background-light: #f8fafc;
	--background-card-header: #1e293b;
	--background-card-body: #313e54;
	--border-color-dark: #1e293b;
	--color-gray: #72777d;
	--color-violet: #4f46e5;
	--color-white: #ffffff;
	--color-background-notification-1: #1e3a8a;
	--color-text-notification-1: #60a5fa;
	--color-background-notification-2: #f2db74;
	--color-text-notification-2:#8a6d3b;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html, body {
	height: 100%;
	family-font: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	color: var(--color-white);
	background-color: var(--background-dark);
	line-height: 1.5;
}

/* Mejora el comportamiento del scroll */
html {
  scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

i {
	font-size: 2rem; color: var(--color-gray);
}

p {
	color: var(--color-gray) !important;
}

input, select {
	background-color: var(--background-dark) !important;
	color: var(--color-white) !important;
}

input::placeholder {
  color: #9ca3af !important; /* gris similar a text-slate-400 */
  opacity: 1; /* asegura que el color se muestre con la opacidad completa */
}

.background-light {
	background-color: var(--background-light);
}

.menu {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.menu-item {
	display: flex;
	border-radius: 8px;
	padding: 10px;
	color: var(--color-gray);
	text-decoration: none;
	font-weight: 700;
}

.menu-item:hover {
	background-color: var(--color-violet);
	color: #f1f5f9;

	i {
		color: #f1f5f9;
	}
}

.container-border, input, select {
	border: 1px solid var(--border-color-dark);
	border-radius: 8px;
}

.container-editor {
    border-radius: 8px;
    border-color: var(--border-color-dark);
}

.card-header {
	background-color: var(--background-card-header) !important;
	color: var(--color-white) !important;
	font-weight: 700;
}

.card-body {
	background-color: var(--background-card-body);
	color: var(--color-white);
	display: flex;
    gap: 10px;
    padding: 5px 0px 0px 0px;
    font-size: 14px;
    font-weight: bold;
}

.card-body-content {
	font-weight: bold;
	font-size: 12px;
	padding: 1px;
}

.card-not-result {
	display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}


.notification-today {
	background-color: var(--color-background-notification-1);
	color: var(--color-text-notification-1);
	font-weight: 700;
	width: 40px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-pending {
	background-color: var(--color-background-notification-2);
    color: var(--color-text-notification-2);
    font-weight: 700;
    width: 40px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
	height: 100%;
    family-font: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: var(--color-white);
    background-color: var(--background-dark);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.btn-save {
	background-color: var(--color-violet);
	color: var(--color-white);
	font-weight: 700;
}

.btn-save:hover {
	background-color: cornflowerblue;
	color: var(--background-dark);
}

.btn-cancel {
	font-weight: 700;
}

.btn-cancel:hover {
	background-color: cornflowerblue;
    color: var(--background-dark);
}

