
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html, body {
	height: 100%;
	family-font: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	color: #ffffff;
	background-color: #0f172a;
	line-height: 1.5;
}

/* Mejora el comportamiento del scroll */
html {
  scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

i {
	font-size: 2rem; color: #72777d;
}

.menu {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.menu-item {
	display: flex;
	border-radius: 8px;
	padding: 10px;
	color: #72777d;
	text-decoration: none;
	font-weight: 700;
}

.menu-item:hover {
	background-color: #4f46e5;
	color: #f1f5f9;

	i {
		color: #f1f5f9;
	}
}

