:root {
	--background-dark: #0f172a;
	--border-color-dark: #1e293b;
	--color-gray: #72777d;
	--color-violet: #4f46e5;
	--color-white: ffffff
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html, body {
	height: 100%;
	family-font: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	color: var(--color-white);
	background-color: var(--background-dark);
	line-height: 1.5;
}

/* Mejora el comportamiento del scroll */
html {
  scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

i {
	font-size: 2rem; color: var(--color-gray);
}

input, select {
	background-color: var(--background-dark) !important;
	color: var(--color-white) !important;
}

input::placeholder {
  color: #9ca3af !important; /* gris similar a text-slate-400 */
  opacity: 1; /* asegura que el color se muestre con la opacidad completa */
}




.menu {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.menu-item {
	display: flex;
	border-radius: 8px;
	padding: 10px;
	color: var(--color-gray);
	text-decoration: none;
	font-weight: 700;
}

.menu-item:hover {
	background-color: var(--color-violet);
	color: #f1f5f9;

	i {
		color: #f1f5f9;
	}
}

.container-border, input, select {
	border: 1px solid var(--border-color-dark);
	border-radius: 8px;
}

.btn-save {
	background-color: #4f46e5;
	color: var(--color-white);
	font-weight: 700;
}

.btn-save:hover {
	background-color: cornflowerblue;
	color: var(--background-dark);
}

.btn-cancel {
	color: var(--color-white);
	font-weight: 700;
}

.btn-cancel:hover {
	background-color: cornflowerblue;
    color: var(--background-dark);
}

